@use "../../style" as *;

.section {
  padding: 70px 50px;
}
.tech {
  background: $bg-color;
}
.idea {
  background: $primary-bg-lighter-color;
}
.title {
  display: flex;
  & h2 {
    font-size: 40px;
  }
}
.tooltip {
  position: relative;
  & button {
    position: relative;
    top: 12px;
    margin-left: 10px;
    background: #bbb;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
  }
  &:hover .tooltip_body {
    visibility: visible;
    top: 50px;
    left: 0px;
    opacity: 1;
  }
}
.tooltip_body {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  padding: 5px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 160px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  &:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 60%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(180deg);
  }
}
.body {
  margin-top: 30px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.item {
  width: calc((100% - 50px) / 2);
  display: flex;
}
.item_image {
  background: #fff;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 50px;
    height: 50px;
  }
}
.item_title {
  font-size: 20px;
  color: $text-color;
  padding: 0 20px;
  margin-top: 10px;
}
.item_inner {
  padding: 0 20px;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.item_icon > img {
  border-radius: 50%;
}
.item_name {
  color: $text-color;
  font-weight: bold;
  font-size: 0.7em;
}
.item_published_date {
  color: $text-color;
  font-weight: 500;
  font-size: 0.7em;
}
.item_likes {
  display: flex;
  align-items: center;
  & img {
    width: 15px;
    height: 15px;
  }
  & span {
    margin-left: 3px;
    font-weight: normal;
    font-size: 0.7em;
    color: $text-color;
  }
}

.more {
  margin-top: 80px;
  text-align: center;
  color: $primary-color;
  font-size: 1.125em;
  cursor: pointer;
  & a {
    display: inline-block;
    color: $primary-color;
    & :hover {
      border-bottom: 1.5px solid $primary-color;
    }
    & span {
      margin-left: 3px;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .section {
    padding: 70px 30px;
  }
  .list {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
}
